<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Here are the categories. There are <%= data.category_count %>:</p>
    <p>Here they are:</p>
    <ul>
      <% for(var i = 0; i < data.list_categories.length; i++) {%>
      <a href="#"><%= data.list_categories[i].name %></a>
      <% } %>
    </ul>
  </body>
</html>
